.container {
    max-width: 100%;
    padding: 0 20px;
    background-color: #ffffff;
    margin: 5vw;
  }
  
  /* contact.css */

/* contact.css */

.contactBody {
   /* Align children elements vertically */
  width: 100%;
}

.show-all {
  display: flex;
  justify-content: flex-end;
  margin-right: 7vw;
  margin-top: 5vh;
}

.show-all-button {
  border-radius: 8px;
  /* Add your button styles here */
  background-color: #1f61a8; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Padding */
  cursor: pointer; /* Cursor on hover */
}


  .myfooter {
    padding: 50px 5vw;
    background-color: #3d4f95;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-5, .col-7 {
    flex: 0 0 48%;
  }

  .col_5 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
  }
  
  
  .form {
    background-color: #e8e5e5;
    padding: 20px;
    border-radius: 10px;
  }
  .form input{
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
  }
  .form textarea{
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .col_5 h4, h6, p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .col_5  h6 {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
  }
  .send_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .send_button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .col-5, .col-7 {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 340px) {
    .col-5, .col-7 {
      flex: 0 0 100%;
    }
  }
  
  /* Add additional CSS to display fields one after another */
  .mb-3 .row {
    display: flex;
    flex-direction: column;
  }
  
  .mb-3 .row > div {
    margin-bottom: 20px;
  }
  
  .mb-3 .row > div:last-child {
    margin-bottom: 0;
  }
  